* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: lightcyan;
  color: #555;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.app ul {
  margin-left: 1.5rem;

  list-style: none;
}

.tree-list__last-list-item {
  color: red;
}

.skata-a {
  font-size: 2rem;
}
